/* Nav Css Document */
header.top {
    padding-bottom: 5px;
}
@media (max-width: 992px) and (min-width: 768px) {
    header.top {
        padding-bottom: 9px;
   }
}
@media (max-width: 768px) {
    header.top {
        padding-top: 15px;
        padding-bottom: 9px;
   }
}

@media (max-width: 992px) and (min-width: 768px) {
    header.top .logo {
        margin-top: 9px;
   }
}
@media (max-width: 768px) {
    header.top .logo {
        margin-top: 0;
   }
    header.top .logo img {
        max-height: 50px;
   }
}
@media (max-width: 350px) {
    header.top .logo img {
        height: 45px;
        max-height: 45px;
        object-fit: cover;
   }
}
header.top nav {
    display: inline-block;
}
header.top .topmenu {
    margin-bottom: 0;
}
header.top .topmenu li {
    display: inline-block;
    padding: 10px 22px;
    font-size: 1.9rem;
    font-weight: 400;
}
header.top .topmenu li:last-of-type {
    padding-right: 0px;
}

@media (max-width: 1200px) and (min-width: 992px) {
    header.top .topmenu li {
        font-size: 1rem;
        font-weight: bold;
        padding: 10px;
   }
}
@media (max-width: 992px) {
    header.top .topmenu li {
        display: none;
   }
}
@media (max-width: 575.98px) {
    header.top .topmenu li.btn-menu {
        padding-right: 10px;
        float: right;
   }
}
@media (max-width: 991.98px) {
    header.top .topmenu li.btn-menu {
        display: inline-block;
   }
}
@media (min-width: 576px) and (max-width: 991.98px) {
    header.top .topmenu li.btn-menu {
        padding: 0 39px 0 0;
   }
}

@media (max-width: 575.98px) {
    header.top .topmenu li.btn-menu a {
        min-width: 90px;
   }
}
@media (min-width: 576px) {
    header.top .topmenu li.btn-menu a {
        min-width: 152px;
   }
}
@media (max-width: 1200px) and (min-width: 992px) {
    header.top .topmenu li.btn-menu a {
        font-size: 20px;
        height: 44px;
        line-height: 42px;
   }
}
@media (max-width: 768px) {
    header.top .topmenu li.btn-menu a {
        padding: 0 20px;
        height: 45px;
        line-height: 45px;
        font-size: 15px;
        font-weight: 400;
   }
}
@media (max-width: 350px) {
    header.top .topmenu li.btn-menu a {
        font-size: 13px;
   }
}
header.top .topmenu li.btn-menu a:hover {
    color: #fff;
    background-color: #D60E96;
}
header.top .topmenu li.search {
    width: 48px;
    height: 48px;
    line-height: 44px;
    text-align: center;
    background: #ebebeb;
    padding: 0;
    margin-right: 39px;
}

.container {
    padding-top: 1rem;
}
@media (max-width: 1200px) and (min-width: 992px) {
    header.top .topmenu li.search {
        height: 44px;
        line-height: 42px;
   }
}
@media (max-width: 992px) {
    header.top .topmenu li.search {
        display: inline-block;
   }
}
@media (max-width: 768px) {
    header.top .topmenu li.search {
        display: none;
   }
}
header.top .topmenu li a {
    color: #000;
    text-transform: uppercase;
    display: block;
}

header.top .search-bar {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
}
@media (max-width: 768px) {
    header.top .search-bar {
        top: 0;
   }
}
header.top .search-bar form {
    margin-top: 0;
    width: 100%;
    height: 100%;
}
@media (min-width: 1200px) {
    header.top .search-bar form {
        width: 100%;
        float: right;
   }
}
header.top .search-bar form .search-input {
    width: 480px;
    height: 100%;
    font-size: 1.4rem;
    color: #c8caca;
    font-weight: 600;
    border-radius: 0;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
@media (max-width: 992px) and (min-width: 768px) {
    header.top .search-bar form .search-input {
        width: 300px;
        font-size: 2rem;
   }
}
@media (max-width: 768px) {
    header.top .search-bar form .search-input {
        width: 170px;
        font-size: 1.3rem;
   }
}
header.top .search-bar form .search-input:-ms-input-placeholder {
    opacity: 1;
    color: #c8caca;
}
header.top .search-bar form button {
    font-size: 29px;
    color: #c8caca;
    background: none;
    border: 0;
    margin-left: 88px;
}
@media (max-width: 992px) and (min-width: 768px) {
    header.top .search-bar form button {
        margin-left: 15px;
   }
}
@media (max-width: 768px) {
    header.top .search-bar form button {
        font-size: 15px;
        margin-left: 15px;
   }
}
header.top .search-bar form button:hover {
    color: #aaa;
}
.menu-hamburger {
    display: inline-block;
    background: #fff;
    border: none;
}
@media (min-width: 992px) {
    .menu-hamburger {
        display: none !important;
   }
}
.menu-hamburger span {
    width: 38px;
    height: 5px;
    background: #000;
    display: block;
    margin-top: 4px;
}
@media (max-width: 1200px) and (min-width: 992px) {
    .menu-hamburger span {
        margin-top: 0;
   }
}
@media (max-width: 768px) {
    .menu-hamburger span {
        margin-top: 2px;
        width: 30px;
        height: 4px;
        background: #0b57a2;
   }
}
.menu-hamburger span + span {
    margin-top: 7px;
}
@media (max-width: 1200px) and (min-width: 992px) {
    .menu-hamburger span + span {
        margin-top: 5px;
   }
}
@media (max-width: 768px) {
    .menu-hamburger span + span {
        margin-top: 6px;
   }
}

/* Overlay Css Document */
.overlay {
    position: fixed;
    right: -705px;
    top: 0;
    z-index: 100;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 595px;
    height: 100%;
    color: #fff;
    overflow-y: auto;
}
@media (max-width: 992px) and (min-width: 768px) {
    .overlay {
        right: -780px;
        width: 690px;
   }
}
@media (max-width: 768px) {
    .overlay {
        width: 100%;
        background: none;
   }
}
.overlay.open {
    right: 0;
}
.overlay .overlay-container {
    position: relative;
}
@media (max-width: 768px) {
    .overlay .overlay-container {
        float: right;
   }
}
@media (max-width: 360px) {
    .overlay .overlay-container {
        width: 100%;
   }
}
.overlay .box-wrap {
    height: 100%;
    padding: 50px 62px 30px 75px;
    float: right;
}
@media (max-width: 992px) {
    .overlay .box-wrap {
        padding-top: 20px;
   }
}
@media (max-width: 768px) {
    .overlay .box-wrap {
        padding-left: 15px;
        padding-right: 15px;
        
   }
}

.overlay .close-container {
    width: 118px;
    height: 136px;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 78px;
    color: #fff;
}

.overlay .close-container a {
    margin-top: 29px;
    margin-left: 25px;
    width: 24px;
    height: 24px;
    /* multiply by Kero from the Noun Project */
    background: #fff url(images/https://raw.githubusercontent.com/solodev/top-navigation-search-bar/master/images/close-menu.svg) no-repeat;
    color: white;
    background-size: 100%;
}

@media (max-width: 992px) and (min-width: 768px) {
    .overlay .close-container {
        height: 95px;
   }
}
@media (max-width: 768px) {
    .overlay .close-container {
        height: 74px;
        width: 74px;
        right: 0;
   }
}
.overlay .close-container a {
    width: 34px;
    height: 34px;
    display: block;
    margin: 65px 0 0 28px;
}
@media (max-width: 992px) {
    .overlay .close-container a {
        margin-top: 33px;
   }
}
@media (max-width: 768px) {
    .overlay .close-container a {
        margin-top: 29px;
        margin-left: 25px;
        width: 24px;
        height: 24px;
       border: 1px solid #fff;
        background-size: 100%;
   }
}
.overlay a {
    color: #fff;
}
.overlay .search-form {
    height: 64px;
    width: 100%;
    margin-bottom: 62px;
}
@media (max-width: 768px) {
    .overlay .search-form {
        height: 45px;
   }
}
.overlay .search-form .input-group {
    border-bottom: 1px solid #89a7c1;
 
}
.overlay .search-form .input-group .input-group-btn {
    position: absolute;
    right: 0;
    bottom: 9%;
}
.overlay .search-form .inp {
    width: 100%;
    height: 64px;
    border: 0;
    padding: 0 15px;
    font-size: 20px;
    font-size: 1rem;
    background-color: transparent;
    color: #fff;
    margin: 1.5rem 5rem 0 0;
}

.overlay .search-form .inp:hover {
    border: none;
}
@media (max-width: 768px) {
    .overlay .search-form .inp {
        height: 45px;
   }
}
.overlay .search-form .inp::-webkit-input-placeholder {
    opacity: 1;
    color: #fff;
}
.overlay .search-form .inp::-moz-placeholder {
    opacity: 1;
    color: #fff;
}
.overlay .search-form .inp:-ms-input-placeholder {
    opacity: 1;
    color: #fff;
}
.overlay .search-form .inp:-moz-placeholder {
    opacity: 1;
    color: #fff;
}
.overlay .search-form button {
    height: 64px;
    background: transparent;
    color: #fff;
    font-size: 40px;
    font-size: 4rem;
    border: none;
}
@media (max-width: 992px) and (min-width: 768px) {
    .overlay .search-form button {
        font-size: 30px;
        font-size: 3rem;
   }
}
@media (max-width: 768px) {
    .overlay .search-form button {
        height: 30px;
        width: 30px;
        font-size: 30px;
        line-height: 30px;
   }
}

/* FontAwesome */

.fas {
    font-family: FontAwesome;
    font-style: normal;
    cursor: pointer;
}

.fa-search {
    border: 1px solid #fff;
    padding: 0.5rem 0.8rem;
    color: #000;
    background-color: #fff;
}

/* Custom CSS */

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.overlay .box-wrap {
max-width: 400px;
}

.nav-sidenav li.nav-item {
    font-size: 1rem;
}

.bg-eerie-black {
    background-color: #1b1b1b;
}

@media (min-width: 768px) {
.h-md-600p {
    height: 600px!important;
    }
}    